#u2140-3
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #7F7F7F;
	position: relative;
}

#u2139-3
{
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u2530
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	position: relative;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u2530:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 1);
	-pie-background: rgba(255, 255, 255, 1);
}

#u2530.MuseMenuActive
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u2532-3
{
	background-color: transparent;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2530:hover #u2532-3
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.6);
	-pie-background: rgba(255, 255, 255, 0.6);
}

#u2600
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	position: relative;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u2600:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 1);
	-pie-background: rgba(255, 255, 255, 1);
}

#u2600.MuseMenuActive
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u2601-4
{
	background-color: transparent;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2600:hover #u2601-4
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.6);
	-pie-background: rgba(255, 255, 255, 0.6);
}

#u2586
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	position: relative;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u2586:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 1);
	-pie-background: rgba(255, 255, 255, 1);
}

#u2586.MuseMenuActive
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u2587-4
{
	background-color: transparent;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2586:hover #u2587-4
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.6);
	-pie-background: rgba(255, 255, 255, 0.6);
}

#u2572
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	position: relative;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u2572:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 1);
	-pie-background: rgba(255, 255, 255, 1);
}

#u2572.MuseMenuActive
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u2573-4
{
	background-color: transparent;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2572:hover #u2573-4
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.6);
	-pie-background: rgba(255, 255, 255, 0.6);
}

#menuu1689,#u2529,#u2590,#u2576,#u2562,#u2548
{
	position: relative;
}

#u2558
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	position: relative;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u2558:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 1);
	-pie-background: rgba(255, 255, 255, 1);
}

#u2558.MuseMenuActive
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u2559-4
{
	background-color: transparent;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2558:hover #u2559-4
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.6);
	-pie-background: rgba(255, 255, 255, 0.6);
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u696
{
	background-color: transparent;
	position: relative;
}

#u2530.MuseMenuActive #u2532-3,#u2600.MuseMenuActive #u2601-4,#u2586.MuseMenuActive #u2587-4,#u2572.MuseMenuActive #u2573-4,#u2558.MuseMenuActive #u2559-4,#u696:hover
{
	background-color: transparent;
}

#u696_img:hover
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u2606:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u2607:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u2608:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u2606,#u2607,#u2608,#u2609
{
	border-color: #000000;
	background-color: transparent;
	position: relative;
}

#u2609:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	-pie-background: rgba(255, 255, 255, 0.5);
}

