.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 980px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#pu2140-3
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u2140-3
{
	z-index: 2;
	width: 1179px;
	min-height: 100px;
	margin-right: -10000px;
}

#u2139-3
{
	z-index: 5;
	width: 1180px;
	min-height: 79px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 1px;
}

#menuu1689
{
	z-index: 8;
	width: 940px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 120px;
}

#u2529
{
	width: 186px;
	min-height: 73px;
	margin-right: -10000px;
}

#u2530
{
	width: 186px;
	padding-bottom: 40px;
}

#u2530:hover
{
	margin: 0px;
}

#u2532-3
{
	width: 178px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 20px;
	left: 2px;
}

#u2530:hover #u2532-3
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u2590
{
	width: 186px;
	min-height: 73px;
	margin-right: -10000px;
	left: 188px;
}

#u2600
{
	width: 186px;
	padding-bottom: 40px;
}

#u2530.MuseMenuActive,#u2600:hover
{
	margin: 0px;
}

#u2601-4
{
	width: 178px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 20px;
	left: 2px;
}

#u2530.MuseMenuActive #u2532-3,#u2600:hover #u2601-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u2576
{
	width: 186px;
	min-height: 73px;
	margin-right: -10000px;
	left: 376px;
}

#u2586
{
	width: 186px;
	padding-bottom: 40px;
}

#u2600.MuseMenuActive,#u2586:hover
{
	margin: 0px;
}

#u2587-4
{
	width: 178px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 20px;
	left: 2px;
}

#u2600.MuseMenuActive #u2601-4,#u2586:hover #u2587-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u2562
{
	width: 187px;
	min-height: 73px;
	margin-right: -10000px;
	left: 564px;
}

#u2572
{
	width: 187px;
	padding-bottom: 40px;
}

#u2586.MuseMenuActive,#u2572:hover
{
	margin: 0px;
}

#u2573-4
{
	width: 179px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 20px;
	left: 2px;
}

#u2586.MuseMenuActive #u2587-4,#u2572:hover #u2573-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u2548
{
	width: 187px;
	min-height: 73px;
	margin-right: -10000px;
	left: 753px;
}

#u2558
{
	width: 187px;
	padding-bottom: 40px;
}

#u2572.MuseMenuActive,#u2558:hover
{
	margin: 0px;
}

#u2558.MuseMenuActive
{
	margin: 0px;
}

#u2559-4
{
	width: 179px;
	min-height: 29px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 20px;
	left: 2px;
}

#u2572.MuseMenuActive #u2573-4,#u2558:hover #u2559-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u2558.MuseMenuActive #u2559-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u696
{
	z-index: 38;
	width: 135px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 112px;
}

#u696:hover
{
	margin: 24px -10000px 0px 0px;
}

#u696_img
{
	padding-right: 12px;
	padding-bottom: 7px;
}

#u2606
{
	z-index: 40;
	width: 91px;
	height: 42px;
	margin-right: -10000px;
	margin-top: 39px;
	left: 356px;
}

.ie #u2606
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2606:hover
{
	margin: 39px -10000px 0px 0px;
}

#u2607
{
	z-index: 41;
	width: 91px;
	height: 42px;
	margin-right: -10000px;
	margin-top: 39px;
	left: 542px;
}

.ie #u2607
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2607:hover
{
	margin: 39px -10000px 0px 0px;
}

#u2608
{
	z-index: 42;
	width: 91px;
	height: 42px;
	margin-right: -10000px;
	margin-top: 39px;
	left: 729px;
}

.ie #u2608
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2608:hover
{
	margin: 39px -10000px 0px 0px;
}

#u2609
{
	z-index: 43;
	width: 110px;
	height: 42px;
	margin-right: -10000px;
	margin-top: 39px;
	left: 910px;
}

.ie #u2609
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2609:hover
{
	margin: 39px -10000px 0px 0px;
}

.ie #u2606:hover,.ie #u2607:hover,.ie #u2608:hover,.ie #u2609:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1766
{
	z-index: 44;
	width: 960px;
	border-color: #000000;
	padding-bottom: 32px;
	margin-top: 5px;
	position: relative;
	background: #FFFFFF url("../images/local%20access%20only5.jpg") no-repeat center center;
	background-size: contain !important;
}

#u1767
{
	z-index: 45;
	width: 960px;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.8);
	padding-bottom: 598px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255, 255, 255, 0.8);
}

#u1769-4
{
	z-index: 47;
	width: 423px;
	min-height: 94px;
	font-size: 36px;
	line-height: 43px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 48px;
}

#u1768
{
	z-index: 46;
	width: 980px;
	height: 62px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#page .verticalspacer
{
	clear: both;
}

